{% extends '/layouts/default.twig' %}


{% block content %}
	<h3>Категории:</h3>

	<ul>
		{% for cat in cats %}
		<li>
			<a href="cat/{{ cat.id }}">{{ cat.name }}</a>
		</li>
		{% endfor %}
	</ul>

{% endblock %}