{% extends '/layouts/default.twig' %}

{% block content %}

	<h2>Catalog:</h2>


	<ul>
		{% for item in items %}
			{% if item.shop_category_id  == 1 %}
				<li>
					<a href="/item/{{ item.id }}">{{ item.name }} </a>
				</li>
			{% endif %}

		{% endfor %}
		<hr>
		{% for item in items %}
			{% if item.shop_category_id  == 2 %}
				<li>
					<a href="/item/{{ item.id }}">{{ item.name }}</a>
				</li>
			{% endif %}

		{% endfor %}
	</ul>

{% endblock %}