{% extends '/layouts/default.twig' %}

{% block content %}

	<a href="/catalog">Назад</a>

	<h2>Название: {{ item.name }}</h2>

	<p>Описание: {{ item.description }}</p>

	<button>BUY</button>

{% endblock %}